<br><a href="<%= subs_url %>">Back to Subs</a>

<h2><%= @sub.title %></h2>

<h4>Description</h4>
  <%= @sub.description %>

  <form class="" action="<%= new_post_url %>" method="post">
    <%= auth %>
    <input type="hidden" name="_method" value="get">
    <input type="hidden" name="sub[id]" value=" <%= @sub.id %>">
    <input type="submit" name="" value="Add a post">

  </form>

<ul>
<% @sub.posts.each do |post| %>
  <li>
  <a href="<%= post_url(post) %>"><%= post.title %></a>
  </li>
<% end %>
</ul>






<a href="<%= edit_sub_url(@sub) %>">Edit sub</a>
